@import 'normalize';

html {
     font-family: 'Crimson Text', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

header {
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    h2 {
        letter-spacing: 2px;
    }

    p {
        letter-spacing: 1.2px;
    }
}

main {
    section {
        padding: 2em;
        column-gap: 8px;
        -webkit-column-gap: 8px;
        -moz-column-gap: 8px;
        column-fill: balance;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin: 0 auto;
        max-width: 1500px;
        img {
            display: block;
            width: 100%;
            margin-bottom:8px;
            &:hover {
                -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



#preview-modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 50ms linear;
    -webkit-transition: opacity 50ms linear;
    -moz-transition: opacity 50ms linear;
    -ms-transition: opacity 50ms linear;
    .preview-image-container {
        
        #preview-image {
            display: block;
            max-height:90vh;
            max-width: 100%;
        }
        #camera-settings {
            text-align: center;
        }
    }
    

    .image-scroll {
        display: block;
        cursor: pointer;
        margin: 0 1em;
        width: 2em;
        
        &[data-direction="prev"] {
            transform: rotate(180deg);
        }
    }

    #modal-close {
        position: absolute;
        display: block;
        cursor: pointer;
        width: 1.5em;
        right: 15px;
        top: 15px; 
    }
}

body {
    &.modal-open {
        overflow: hidden;
        #preview-modal {
            opacity: 1;
            z-index: 9;
        }
    }
}


.github-icon {
    position: absolute;
    width: 3em;
    right: 5px;
    top: 5px;
}